<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdy.luxurytravelapplication">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 权限声明 -->
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 8.0+系统需要 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.sdy.luxurytravelapplication.permission.RECEIVE_MSG" />

    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="hk.alipay.wallet" />
    </queries> <!-- 小米推送 -->
    <permission
        android:name="com.sdy.luxurytravelapplication.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sdy.luxurytravelapplication.permission.MIPUSH_RECEIVE" /> <!-- 魅族推送 -->
    <!-- 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息 -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />

    <permission
        android:name="com.sdy.luxurytravelapplication.push.permission.MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sdy.luxurytravelapplication.push.permission.MESSAGE" /> <!-- 兼容flyme3.0配置权限 -->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" /> <!-- oppo推送配置权限 -->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE" />
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE" />

    <permission
        android:name="com.sdy.luxurytravelapplication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sdy.luxurytravelapplication.permission.C2D_MESSAGE" />

    <application
        android:name=".app.TravelApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage = "true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.RegisterTooManyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".nim.location.LocationAmapActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".liveface.CollectionSuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".liveface.FaceLivenessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".liveface.FaceLivenessExpActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.CustomChatUpContentActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ContactBookActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.VideoIntroduceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ChangeUserContactActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.NickNameActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MyInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MyVisitActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MyFootPrintActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.CountryCodeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ChangeAccountActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.AccountAboutActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.BlackListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.NotificationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MyInviteActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.BindAlipayAccountActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.CandyRecordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.WomanPowerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.VipChargeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.CandyRechargeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ReportReasonUploadActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ReportReasonActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MessageInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MessageSquareActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.AccostListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.TargetUserActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PublishTravelEndActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PublishTravelBeforeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.TravelDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.LocationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ChooseTitleActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PublishActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PublishTravelActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SquareCommentDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.TagDetailCategoryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.FindAllTagActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SweetHeartVerifyingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.UploadVerifyPublicActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".ui.activity.UploadVerifyInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ChooseVerifyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.JoinLuxuryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PurchaseFootActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.InviteCodeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".ui.activity.GetMoreMatchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.OnekeyLoginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ProtocolActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.RegisterInfoOneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.VerifycodeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PhoneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.RegisterInfoTwoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".nim.location.NavigationAmapActivity"
            android:launchMode="singleTop" /> <!-- 查看大图 -->
        <activity
            android:name=".nim.business.session.activity.WatchMessagePictureActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".nim.business.session.activity.WatchVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/video_play"
            android:launchMode="singleTop"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".nim.business.session.activity.ChatActivity"
            android:launchMode="singleTop" /> <!-- ////////////闪验验证码一键登录//////////////// -->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />

        <activity-alias
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginActivity" />

        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind" /> <!-- /////////////云信配置/////////////////// -->
        <!-- 云信后台服务，请使用独立进程。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" /> <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" /> <!-- 云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" /> <!-- 云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" /> <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService" /> <!-- 云信进程间通信provider -->
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="com.sdy.luxurytravelapplication.ipc.provider"
            android:exported="false"
            android:process=":core" /> <!-- 云信内部使用的进程间通信provider -->
        <!-- SDK启动时会强制检测该组件的声明是否配置正确，如果检测到该声明不正确，SDK会主动抛出异常引发崩溃 -->
        <provider
            android:name="com.netease.nimlib.ipc.cp.provider.PreferenceContentProvider"
            android:authorities="com.sdy.luxurytravelapplication.ipc.provider.preference"
            android:exported="false" /> <!-- 配置的service和receiver -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":mixpush" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":mixpush" /> <!-- 注：此service必须在3.0.1版本以后（包括3.0.1版本）加入 -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!-- 注：此service必须在2.2.5版本以后（包括2.2.5版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":mixpush">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.netease.nimlib.mixpush.mi.MiPushReceiver"
            android:exported="true">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.netease.nimlib.mixpush.hw.HWPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- 配置的service, activity, receiver -->
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true" />

        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="com.netease.nimlib.mixpush.vivo.VivoPushReceiver">
            <intent-filter>

                <!-- 接收 push 消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver> <!-- Oppo推送配置项 需要配置以下两项 -->
        <service
            android:name="com.netease.nimlib.mixpush.oppo.OppoPushService"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service> <!-- 兼容Q以下版本 -->
        <service
            android:name="com.netease.nimlib.mixpush.oppo.OppoAppPushService"
            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE">
            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE" />
                <action android:name="com.heytap.msp.push.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service> <!-- 兼容Q版本 -->
        <!-- 魅族推送配置项 -->
        <receiver android:name="com.netease.nimlib.mixpush.mz.MZPushReceiver">
            <intent-filter android:priority="0x7fffffff">

                <!-- 接收 push 消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收 register 消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收 unregister 消息 -->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本 Flyme3 推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="com.netease.nim.demo" />
            </intent-filter>
        </receiver> <!-- 百度人脸识别 -->
        <activity
            android:name="com.baidu.liantian.LiantianActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="seckey_avscan"
            android:value="660346260f8a841a04ec2a56815b421b" /> <!-- 将com.baidu.idl.face.demo替换成您工程的包名 -->
        <meta-data
            android:name="appkey_avscan"
            android:value="100034" />

        <provider
            android:name="com.baidu.liantian.LiantianProvider"
            android:authorities="com.sdy.luxurytravelapplication.liantian.ac.provider"
            android:exported="true" />

        <receiver
            android:name="com.baidu.liantian.LiantianReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.liantian.LiantianService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service> <!-- ///////////////////////高德/////////////////////// -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/AMAP_APPID" />

        <service android:name="com.amap.api.location.APSService" /> <!-- //////////////////////////////适配/////////////////////////// -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- 友盟 Appkey 自己应用注册申请来的 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" /> <!-- 多渠道打包 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/UMENG_APPKEY" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/wx_theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/WECHAT_APPID" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sdy.luxurytravelapplication.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths1"
                tools:replace="name,resource" />
        </provider> <!-- - - - - - - - - - - QQ分享 - - - - - - - - - - - - -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1110939011" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- ////////////////////bugly//////////// -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>