<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdy.luxurytravelapplication">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 权限声明 -->
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="hk.alipay.wallet" />
    </queries>

    <application
        android:name=".app.TravelApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.VipChargeActivity"></activity>
        <activity android:name=".ui.activity.CandyRechargeActivity" />
        <activity android:name=".ui.activity.ReportReasonUploadActivity" />
        <activity android:name=".ui.activity.ReportReasonActivity" />
        <activity android:name=".ui.activity.MessageInfoActivity" />
        <activity
            android:name=".ui.activity.MessageSquareActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.AccostListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.TargetUserActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PublishTravelEndActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PublishTravelBeforeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.TravelDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.LocationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ChooseTitleActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PublishActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PublishTravelActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SquareCommentDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.TagDetailCategoryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.FindAllTagActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SweetHeartVerifyingActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.UploadVerifyPublicActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.UploadVerifyInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ChooseVerifyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.JoinLuxuryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PurchaseFootActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.InviteCodeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.GetMoreMatchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.OnekeyLoginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ProtocolActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.RegisterInfoOneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.VerifycodeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.PhoneActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.RegisterInfoTwoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/wx_theme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="@string/WECHAT_APPID" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths1" />
        </provider> <!-- 查看大图 -->
        <activity
            android:name=".nim.business.session.activity.WatchMessagePictureActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".nim.business.session.activity.WatchVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/video_play"
            android:launchMode="singleTop"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".nim.business.session.activity.ChatActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />

        <activity-alias
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginActivity" />

        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind" /> <!-- *****************高德地图********************** -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="3b6b810a7ad78b17f523bdd05279b48c" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
    </application>

</manifest>